{
  "plugins": ["prettier-plugin-jsdoc"],
  "semi": false,
  "experimentalTernaries": true,
  "overrides": [
    {
      "files": ["src/app/**", "src/components/**"],
      "options": {
        "plugins": ["prettier-plugin-tailwindcss"]
      }
    }
  ]
}
